body {
  background-color: aqua;
  border: 1px solid red;
  padding: 10px;
}

div.body-container {
  background-color: azure;
  padding: 10px;
  border: 1px solid black;
}


/* FLEX NEED FIX */
div.grid {
  height: 500px;
  width: 500px;

  background-color: beige;
  padding: 10px;
  border: 1px solid green;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-items: stretch;

  align-content: stretch;
}

div.row {
  border: 1px solid blue;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-items: center;
  
  align-content: stretch;
  flex: 1 1 auto;
}

div.square {
  background-color: white;
  border: 1px solid black;
  height: 10px;
  width: 10px;

  
  flex: 1 1 auto;
}